@model CMS_Dashboard_v1.Models.ModelForm.SectionModel

@{
    ViewBag.title = "Master Section";
}

<h3 class="fw-bold py-0 mb-4 "><span class="fw-light">Pages / </span> @ViewBag.Title</h3>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            @*StartTittle*@
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <a asp-controller="Section" asp-action="Create" type="button" class="btn btn-primary">
                            <i class="fas fa-plus-square"></i>
                            <span>
                                &nbsp; Buat Data
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <hr class="my-0" />
            @*EndTittle*@
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatable" class="table table-hover" data-toggle="data-table">
                        <thead>
                            <tr>
                                <th width="80%">Menu</th>
                                <th width="80%">Section</th>
                                <th width="80%">Urutan</th>
                                <th width="80%">Batas Content</th>
                                <th style="text-align:center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.List)
                            {
                                <tr>
                                    <td>@item.menu_name</td>
                                    <td>@item.section_name</td>
                                    <td>@item.section_number</td>
                                    <td>@item.section_approve</td>
                                    <td style="text-align:center;">
                                        <a asp-controller="Section" asp-action="Edit" asp-route-id="@item.section_id" type="button" class="btn btn-icon btn-warning">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a asp-controller="Section" asp-action="Delete" asp-route-id="@item.section_id" type="button" class="btn btn-icon btn-danger">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
