@model CMS_Dashboard_v1.Models.ModelForm.Article

<head>
    <title>Habaku || Detail Artikel</title>
</head>

<!--Navbar-->
<div class="fixed w-full z-50">
    <header id="navbar" class="2xl:container mx-auto">
        <nav class="nav-desk flex justify-between items-center">
            <a asp-area="LandingPage" asp-controller="Habaku" asp-action="Index">
                <img class="h-40 lg:h-56 w-74 lg:w-100 object-cover" src="~/assets/images/habaku/habaku-logo.png" />
            </a>
            <div>
                <button id="toggle-menu-button" class="z-50 lg:hidden relative">
                    <!--Toggle Menu-->
                    <div id="open" class="flex flex-col items-end justify-between">
                        <span class="block text-blue-400 text-mh-head3">
                            <i class="fa fa-bars"></i>
                        </span>
                    </div>
                    <div id="close" class="hidden fixed top-6 right-8 flex flex-col items-end justify-between">
                        <span class="block text-greyscale-80 text-mh-head3">
                            <i class="bi bi-x"></i>
                        </span>
                    </div>
                </button>
                <div id="toggle-menu"
                     class="container hidden bg-green-100 lg:bg-transparent lg:block pt-85 lg:pt-0 font-medium text-greyscale-80 text-mb-large lg:text-db-large right-0 top-0 text-left fixed h-full w-3/4 flex flex-col lg:relative lg:w-auto lg:h-auto">
                    <ul class="list-none list-pl flex flex-col lg:flex-row gap-x-6 gap-y-6 items-center">
                        <li class="hover:text-blue-400 hover:font-bold hover:rounded-full hover:border hover:border-blue-400 hover:px-4 hover:py-2">
                            <a asp-area="LandingPage" asp-controller="Habaku" asp-action="Index">@ViewData["Beranda"]</a>
                        </li>
                        <li class="dropdown inline-block relative">
                            <div class="cursor-pointer w-fit mx-auto hover:text-blue-400 hover:font-bold">
                                <span>Produk</span>
                            </div>
                            <ul class="list-none list-pl dropdown-menu relative lg:absolute hidden text-greyscale-80 ml-0 lg:-ml-38 pt-3 w-140 text-center">
                                <div class="rounded rounded-lg border lg:border-0 border-greyscale-60 bg-transparent lg:bg-greyscale-0 lg:drop-shadow-dropMenuDropdown">
                                <li class=""><a class="hover:text-blue-400 hover:font-bold py-2 lg:py-4 px-10 lg:px-4 block w-full" asp-area="LandingPage" asp-controller="Habaku" asp-action="Produk">B2B Product</a></li>
                                <li class="hidden lg:block border-b border-greyscale-40 rounded-full mx-auto w-105"></li>
                                <li class=""><a class="hover:text-blue-400 hover:font-bold py-2 lg:py-4 px-10 lg:px-4 block w-full" href="#">Point of Sales</a></li>
                </div>
                </ul>
                </li>
                        <li class="text-blue-400 font-bold rounded-full border border-blue-400 px-4 py-2">
                                                   <a asp-area="LandingPage" asp-controller="Habaku" asp-action="Artikel">@ViewData["Artikel"]</a>
                        </li>
                        <li class="hover:text-blue-400 hover:font-bold hover:rounded-full hover:border hover:border-blue-400 hover:px-4 hover:py-2">
                            <a asp-area="LandingPage" asp-controller="Habaku" asp-action="TentangKami">@ViewData["TentangKami"]</a>
                        </li>
                        <li class="hover:text-blue-400 hover:font-bold hover:rounded-full hover:border hover:border-blue-400 hover:px-4 hover:py-2">
                            <a asp-area="LandingPage" asp-controller="Habaku" asp-action="HubungiKami">@ViewData["HubungiKami"]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>

<!--Section Artikel-->
<section>
    <div class="relative h-full">
        <div class="bg-greyscale-0 absolute top-0 w-full h-full"></div>
        <div class="2xl:container mx-auto">
            <div class="relative container mx-auto px-4 lg:px-200 pt-72 lg:pt-140 pb-6 lg:pb-40">
                <div class="container pb-4">
                    <ol class="list-none list-pl list-reset flex text-greyscale-100 text-mb-small">
                        <li class="px-2">
                            <a asp-area="LandingPage" asp-controller="Habaku" asp-action="Index">@ViewData["Beranda"]</a>
                        </li>
                        <li>/</li>
                        <li class="px-2">
                            <a asp-area="LandingPage" asp-controller="Habaku" asp-action="Artikel" class="no-underline text-green-400 hover:text-greyscale-100">Artikel</a>
                        </li>
                        <li>/</li>
                        <li class="px-2">@Model.title</li>
                    </ol>
                </div>
                <img src="@Model.image" class="w-full h-full rounded-xl lg:rounded-2xl" />
                <div class="pt-4 pb-1 text-left">
                    <h1 class="font-bold text-mh-head6 lg:text-dh-head5">@Model.title</h1>
                    <p class="text-mc-large lg:text-dc-large text-greyscale-80">
                        @Model.category . @Model.published
                    </p>
                </div>
                <p class="text-mb-small lg:text-db-small pt-4 text-justify">
                   @Html.Raw(Model.desc)
                </p>

                <div class="pt-4 flex space-x-4">
                    <p class="text-mb-small lg:text-db-small font-medium text-greyscale-80">Bagikan Artikel Ini</p>
                    <a href="@Model.link_detail">
                        <i class="material-icons text-blue-400">link</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Section Artikel Terbaru-->
<section class="bg-greyscale-0">
    <div class="2xl:container mx-auto px-4 py-6 lg:px-72 lg:py-40 grid gap-4 lg:gap-6" x-data="loadArticles()">

        <h1 class="font-bold text-mh-head4 lg:text-dh-head5 text-left">
            Artikel Terbaru
        </h1>

        <!--Show Items of Article-->
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-8">
            <template x-for="item in filteredArticles" :key="item">
                <a :href="`${item.link_detail}`">
                    <div class="group col-span-1 flex flex-col gap-4">
                        <div class="group-hover:border-3 group-hover:rounded-xl group-hover:lg:rounded-2xl group-hover:border-blue-400 group-hover:drop-shadow-dropBlue">
                            <img :src="`${item.image}`" alt="gambar" style="object-fit: cover;" class="rounded-xl lg:rounded-2xl w-full h-full" />
                        </div>
                        <div class="text-left">
                            <h1 class="group-hover:text-blue-400 font-bold text-mh-head6 lg:text-dh-head6"
                                x-text="item.title">
                            </h1>
                            <p class="pt-1 lg:pt-2 text-mb-small lg:text-db-small line-clamp text-greyscale-80" x-text="item.desc"></p>
                            <p class="pt-3 lg:pt-5 text-mc-large lg:text-dc-large text-greyscale-80">
                                <span x-text="item.category"></span> · <span x-text="item.published"></span>
                            </p>
                        </div>
                    </div>
                </a>
            </template>
        </div>

        <!--Section Pagination Number-->
        <div class="w-full mx-auto py-6 flex items-center justify-center" x-show="pageCount() > 1">

            <!--Previous Button-->
            <button class="-rotate-180 mr-40 lg:mr-80 text-blue-400 p-2 rounded-full border border-blue-300"
                    x-on:click="prevPage" :disabled="pageNumber==0"
                    :class="{ 'disabled cursor-not-allowed text-greyscale-40 border-greyscale-40' : pageNumber==0 }">
                <span class="material-icons">keyboard_tab</span>
            </button>

            <!-- Display page numbers -->
            <template x-for="(page,index) in pages()" :key="index">
                <button class="mx-2 px-4 py-10 rounded-full text-blue-400 border border-blue-300"
                        :class="{ 'bg-blue-400 text-greyscale-0 font-semibold' : index === pageNumber }" type="button"
                        x-on:click="viewPage(index)">
                    <span x-text="index+1"></span>
                </button>
            </template>

            <!--Next Button-->
            <button class="ml-40 lg:ml-80 text-blue-400 p-2 rounded-full border border-blue-300"
                    x-on:click="nextPage" :disabled="pageNumber >= pageCount() -1"
                    :class="{ 'disabled cursor-not-allowed text-greyscale-40 border-greyscale-40' : pageNumber >= pageCount() -1 }">
                <span class="material-icons">keyboard_tab</span>
            </button>
        </div>

        <!--Message to display when no results-->
        <div class="mx-auto flex items-center font-bold text-red-500" x-show="total===0">
            <svg class="h-8 w-8 text-red-500" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                 stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <circle cx="12" cy="12" r="9" />
                <line x1="9" y1="10" x2="9.01" y2="10" />
                <line x1="15" y1="10" x2="15.01" y2="10" />
                <path d="M9.5 16a10 10 0 0 1 6 -1.5" />
            </svg>

            <span class="ml-4"> No results!!</span>
        </div>

    </div>
</section>



<!--Script for Articles Pagination-->
<script>
    var sourceData = @Html.Raw(Json.Serialize(Model.Artikel));


    function loadArticles() {
        debugger;
        return {
            search: "",
            pageNumber: 0,
            size: 6,
            total: "",
            myForData: sourceData,

            get filteredArticles() {
                const start = this.pageNumber * this.size,
                    end = start + this.size;

                if (this.search === "") {
                    this.total = this.myForData.length;
                    return this.myForData.slice(start, end);
                }

                //Return the total results of the filters
                this.total = this.myForData.filter((item) => {
                    return item.title
                        .toLowerCase()
                        .includes(this.search.toLowerCase());
                }).length;

                //Return the filtered data
                return this.myForData
                    .filter((item) => {
                        return item.title
                            .toLowerCase()
                            .includes(this.search.toLowerCase());
                    })
                    .slice(start, end);
            },

            //Create array of all pages (for loop to display page numbers)
            pages() {
                return Array.from({
                    length: Math.ceil(this.total / this.size),
                });
            },

            //Next Page
            nextPage() {
                this.pageNumber++;
            },

            //Previous Page
            prevPage() {
                this.pageNumber--;
            },

            //Total number of pages
            pageCount() {
                return Math.ceil(this.total / this.size);
            },

            //Return the start range of the paginated results
            startResults() {
                return this.pageNumber * this.size + 1;
            },

            //Return the end range of the paginated results
            endResults() {
                let resultsOnPage = (this.pageNumber + 1) * this.size;

                if (resultsOnPage <= this.total) {
                    return resultsOnPage;
                }

                return this.total;
            },

            //Link to navigate to page
            viewPage(index) {
                this.pageNumber = index;
            },
        };
    }
</script>