@model ContentLandingPageModel

<head>
    <link rel="stylesheet" href="~/css/output-style.css">
    <title>Habaku || Beranda</title>
</head>

<!--Navbar-->
<div class="fixed w-full z-50">
    <header id="navbar">
        <nav class="2xl:container mx-auto flex justify-between items-center">
            <a class="block overflow-hidden" href="index.html">
                <img class="h-40 lg:h-56 w-74 lg:w-100 object-cover" src="~/assets/images/habaku/habaku-logo.png" />
            </a>
            <div>
                <button id="toggle-menu-button" class="z-50 lg:hidden relative">
                    <!--Toggle Menu-->
                    <div id="open" class="flex flex-col items-end justify-between">
                        <span class="block text-blue-400 text-mh-head3">
                            <i class="fa fa-bars"></i>
                        </span>
                    </div>
                    <div id="close" class="hidden fixed top-6 right-8 flex flex-col items-end justify-between">
                        <span class="block text-greyscale-80 text-mh-head3">
                            <i class="bi bi-x"></i>
                        </span>
                    </div>
                </button>
                <div id="toggle-menu"
                     class="container hidden lg:block bg-nav-overlay lg:bg-transparent font-medium text-greyscale-80 text-mb-large lg:text-db-large right-0 top-0 text-left fixed h-full lg:h-auto w-full lg:w-auto flex flex-col lg:relative">
                    <div class="w-3/4 lg:w-auto h-full lg:h-auto bg-green-100 lg:bg-transparent pt-85 lg:pt-0 ml-auto">
                        <ul class="list-none list-pl flex flex-col lg:flex-row gap-x-6 gap-y-6 items-center">
                            <li class="text-blue-400 font-bold rounded-full border border-blue-400 px-4 py-2">
                                <a asp-area="LandingPage" asp-controller="Habaku" asp-action="Index">@ViewData["Beranda"]</a>
                            </li>
                            <li class="dropdown inline-block relative">
                                <div class="cursor-pointer w-fit mx-auto hover:text-blue-400 hover:font-bold">
                                    <span>@ViewData["Produk"]</span>
                                </div>
                                <ul class="list-none list-pl dropdown-menu relative lg:absolute hidden text-greyscale-80 ml-0 lg:-ml-38 pt-3 w-140 text-center">
                                    <div class="rounded rounded-lg border lg:border-0 border-greyscale-60 bg-transparent lg:bg-greyscale-0 lg:drop-shadow-dropMenuDropdown">
                                    <li class=""><a class="hover:text-blue-400 hover:font-bold py-2 lg:py-4 px-10 lg:px-4 block w-full" asp-area="LandingPage" asp-controller="Habaku" asp-action="Produk">B2B Product</a></li>
                                    <li class="hidden lg:block border-b border-greyscale-40 rounded-full mx-auto w-105"></li>
                                    <li class=""><a class="hover:text-blue-400 hover:font-bold py-2 lg:py-4 px-10 lg:px-4 block w-full" href="#">Point of Sales</a></li>
                    </div>
                    </ul>
                    </li>
                    <li class="hover:text-blue-400 hover:font-bold hover:rounded-full hover:border hover:border-blue-400 hover:px-4 hover:py-2">
                        <a asp-area="LandingPage" asp-controller="Habaku" asp-action="Artikel">@ViewData["Artikel"]</a>
                    </li>
                    <li class="hover:text-blue-400 hover:font-bold hover:rounded-full hover:border hover:border-blue-400 hover:px-4 hover:py-2">
                        <a asp-area="LandingPage" asp-controller="Habaku" asp-action="TentangKami">@ViewData["TentangKami"]</a>
                    </li>
                    <li class="hover:text-blue-400 hover:font-bold hover:rounded-full hover:border hover:border-blue-400 hover:px-4 hover:py-2">
                        <a asp-area="LandingPage" asp-controller="Habaku" asp-action="HubungiKami">@ViewData["HubungiKami"]</a>
                    </li>
                    </ul>
                </div>
            </div>
</div>
        </nav>
    </header>
</div>

@await Component.InvokeAsync("Beranda", new ContentLandingPageModel() )

