@model ContentLandingPageModel

<section>
    @foreach (var item in Model.ListContent)
    {
        if (item.section_id == 1)
        {
            <div class="relative h-full">
                <div class="bg-green-200 absolute top-0 w-full h-full"></div>
                <div class="2xl:container mx-auto">
                    <div class="relative grid grid-cols-1 lg:grid-cols-2 px-0 md:pl-72 md:pr-0 pt-72 pb-48 lg:pb-0">
                        <div class="block lg:hidden" x-data="{ visible: false }" x-intersect="visible = true">
                            <div :class="visible ? 'animate-scale' : ''">
                                <img src="~/assets/images/habaku/hero-homepage-mob-illustration.png" class="w-full h-full" />
                            </div>
                        </div>

                        <div class="my-auto" x-data="{ visible: false }" x-intersect="visible = true">
                            <div class="text-center lg:text-left grid gap-4 px-4 lg:px-0" :class="visible ? 'animate-fadeInUp' : ''">
                                <h1 class="font-montserrat text-dh-head5 lg:text-dh-head4 text-greyscale-100">


                                    @{
                                        string[] additionalWords = { "" };
                                        string[] splitHeader = item.header.Split();
                                        if (splitHeader.Count() < 6)
                                        {
                                            additionalWords = new string[] { "", "", "", "", "", "", "" };
                                        }

                                        string modelText = @item.header;
                                        string[] words = modelText.Split(' ');
                                        words = words.Concat(additionalWords).ToArray();
                                        string result = string.Join(" ", words);
                                        string line1 = string.Join(" ", @words[0], @words[1], @words[2]);
                                    }
                                    @line1 <br />
                                    <span class="text-blue-400">@words[3] </span>
                                    <span>@words[4] </span>
                                    <span class="text-blue-400">@words[5] </span>
                                    @*@item.header*@
                                </h1>
                                <p class="text-mb-small lg:text-db-small font-medium w-full lg:w-3/4">
                                    @*deskripsi*@
                                    @Html.Raw(item.description)
                                </p>
                                <p class="font-semibold text-db-large text-blue-400 italic">#PastiLebihUntung</p>
                                <a target="_blank" href="@item.url" class="pt-5">
                                    <button class="text-dc-large lg:text-db-small font-semibold bg-blue-400 rounded-full px-6 py-10 text-greyscale-0">
                                        Download Sekarang
                                    </button>
                                </a>
                            </div>
                        </div>

                        <div class="hidden lg:block" x-data="{ visible: false }" x-intersect="visible = true">
                            <div :class="visible ? 'animate-scale' : ''">
                                <img src="@item.image" class="w-full" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</section>