@model ContentLandingPageModel

@for (int i = 1; i <= Model.ListContent.Select(ss => ss.section).Distinct().Count(); i++)
{
    #region Section Habaku Solution
    if (i == 1)
    {
        <section>
            <div class="relative h-full pt-56 lg:pt-85">
                <div class="bg-green-100 absolute top-0 w-full h-full"></div>
                <div class="2xl:container mx-auto">
                    <div class="relative px-4 lg:px-72 2xl:px-200 pt-6 lg:pt-40 pb-6 lg:pb-40">
                        <h1 class="font-bold text-mh-head3 text-center">
                            @Model.ListContent.FirstOrDefault(ss => ss.section == i).header
                        </h1>
                        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-40 pt-8">
                            @foreach (var item in Model.ListContent.Where(ss => ss.section == i))
                            {
                                <div class="col-span-1 flex flex-row lg:flex-col gap-4">
                                    <img src="@item.image"
                             class="mx-0 lg:mx-auto w-72 lg:w-fit h-72 lg:h-fit" />
                                    <div class="text-left lg:text-center w-full m-auto">
                                        <h1 class="font-bold text-mh-head6 lg:text-dh-head6 pb-2">@item.title</h1>
                                        <p class="text-mb-small lg:text-db-small text-greyscale-80">
                                            @Html.Raw(item.description.Replace("\n","<br>"))
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    #endregion

    #region Section Habaku Ecosystem
    else if (i == 2)
    {
        @* <section class="2xl:container mx-auto bg-greyscale-0">
            <div class="px-4 lg:px-72 2xl:px-200 py-6 lg:py-40 text-center">
                <h1 class="font-bold text-mh-head3">
                    Habaku Ecosystem
                </h1>
                <p class="text-mb-small lg:text-db-small text-greyscale-80 w-full lg:w-3/4 mx-auto pt-2 lg:pt-4">
                    Habaku membangun pasar digital yang terintegrasi dengan mempertemukan pemasok/prinsipal dengan pengecer
                    untuk melakukan transaksi jual beli produk-produk berkualitas dengan berfokus pada 2 prinsip utama:
                </p>
                <img src="~/assets/images/habaku/about-habaku-illustration.png" class="w-auto h-auto m-auto pt-4 lg:pt-8" />
                <!--Graveyard-->
                <div class="pt-4 lg:pt-8 flex flex-col lg:flex-row gap-4 lg:gap-40 justify-between">
                    <div class="m-auto w-full md:w-2/5">
                        <h1 class="font-bold text-mh-head6 lg:text-dh-head5 text-blue-400">
                            Bi-Directional
                        </h1>
                        <p class="text-greyscale-80 text-mb-small lg:text-db-small pt-1">
                            Menjual produk tier 1 - 2 kepada konsumen tier 3 - 4 dan sebaliknya.
                        </p>
                    </div>
                    <div class="m-auto w-full md:w-2/5">
                        <h1 class="font-bold text-mh-head6 lg:text-dh-head5 text-blue-400">
                            Multi-Categories
                        </h1>
                        <p class="text-greyscale-80 text-mb-small lg:text-db-small pt-1">
                            Menjual berbagai jenis produk, seperti produk kecantikan, mom & baby care serta produk kesehatan
                            yang berkualitas.
                        </p>
                    </div>
                </div>
            </div>
        </section>*@
    }

    #endregion

    #region Section Metode Pembayaran
    else if (i == 3)
    {
        <section class="2xl:container mx-auto bg-greyscale-0">
            <div class="px-0 lg:px-72 2xl:px-200 py-6 lg:py-40 bg-green-100 lg:bg-transparent">
                <h1 class="font-bold text-mh-head3 text-center">
                    @Model.ListContent.FirstOrDefault(ss => ss.section == i).header
                </h1>
                <div class="flex flex-col lg:flex-row justify-between gap-0 lg:gap-6 pt-0 lg:pt-8">
                    @foreach (var item in Model.ListContent.Where(ss => ss.section == i))
                    {
                        <div class="col-span-1 flex flex-col gap-4 w-full p-4 text-center rounded-0 lg:rounded-lg bg-transparent lg:bg-green-100">
                            <h1 class="order-2 lg:order-1 pb-2 lg:pb-0 font-bold text-mh-head6 lg:text-dh-head5 text-green-400">
                                @item.title
                            </h1>
                            <img src="@item.image" class="order-1 lg:order-2 w-fit h-fit mx-auto" />
                            <p class="w-full lg:w-3/4 2xl:w-4/5 mx-auto order-3 text-db-small text-greyscale-80 pb-0 lg:pb-6">
                                @item.description
                            </p>
                        </div>
                        @if (item.title == "Cash on Delivery")
                        {
                            <div class="m-auto">
                                <p class="text-blue-400 text-dh-head5 hidden lg:block">Atau</p>
                            </div>
                        }
                    }
                </div>
            </div>
        </section>
    }

    #endregion

    #region Section Promo Spesial
    else if (i == 4)
    {
        @foreach (var item in Model.ListContent.Where(ss => ss.section == i))
        {
            <section class="2xl:container mx-auto bg-greyscale-0 bg-none lg:bg-bgHabakuLogoPromo bg-contain bg-center bg-no-repeat">
                <div class="px-4 lg:px-72 2xl:px-200 pt-6 lg:pt-80 pb-6 lg:pb-70 text-center grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-48">
                    <div class="bg-bgHabakuLogoPromo lg:bg-none bg-contain bg-no-repeat">
                        <img src="@item.image" class="w-full h-full" />
                    </div>
                    <div class="grid gap-2 lg:gap-4 m-auto">
                        <h1 class="font-bold text-mh-head3 lg:text-dh-head4 text-blue-400">
                           @item.header
                        </h1>
                        <p class="text-db-small text-greyscale-80 w-full md:w-4/6 mx-auto">
                            @item.description
                        </p>
                        <a href="@item.url" target="_blank">
                            <div class="justify-center items-center text-mb-small lg:text-db-large bg-blue-400 rounded-full py-3 lg:py-10 text-greyscale-0 flex space-x-2">
                                <p>Cek Promo </p>
                                <i class='fas fa-arrow-right'></i>
                            </div>
                        </a>
                    </div>
                </div>
            </section>

        }

    }

    #endregion

    #region Section Download Aplikasi Habaku
    else if (i == 5)
    {
        @foreach (var item in Model.ListContent.Where(ss => ss.section == i))
        {
            <section class="bg-green-200">
                <div class="2xl:container mx-auto grid grid-cols-2">
                    <div class="flex flex-col gap-y-2 text-left pl-4 lg:pl-72 2xl:pl-200 py-4 lg:py-40 my-auto">
                        <h1 class="text-mb-small lg:text-dh-head5 font-bold">
                           @item.header
                        </h1>
                        <p class="text-mc-large lg:text-db-small">
                            @item.description
                        </p>
                        <a href="@item.url" target="_blank">
                            <img src="~/assets/images/habaku/google-play-badge.png" class="w-100 h-38 lg:w-auto lg:h-auto" />
                        </a>
                    </div>
                    <img src="@item.image" class="w-auto h-auto mx-auto hidden lg:block" />
                    <img src="@item.image" class="w-auto h-auto mx-auto block lg:hidden" />
                </div>
            </section>
        }
      
    }
    #endregion

}


